// wide_layout.scss

body.wrapper {
  max-width: 1300px !important;
  margin: 0 auto; /* Центрируем блок на странице */
}

// Опционально, можно добавить медиа-запросы для адаптивности
@media screen and (max-width: 1300px) {
  body.wrapper {
    width: 100% !important;
  }
}
