// wide_layout.scss

.container.posts {
  width: 1200px !important;
  margin: 0 auto; /* Центрируем блок на странице */
}

// Опционально, можно добавить медиа-запросы для адаптивности
@media screen and (max-width: 1200px) {
  .container.posts {
    width: 100% !important;
  }
}
